* {
    margin: 0;
    padding: 0;
}

body {
    /*background-image: url(../img/image.jpg);
    background-attachment: fixed;*/

    background: url(../img/image.jpg) fixed center no-repeat;
}

.block {
    height: 300px;
    width: 300px;
    margin: 10px;

    cursor: pointer;
}

.block.red {
    /*background-color: rgba(215, 0, 0, .5);*/
    background-color: #d70000;
}
.block.blue {
    background-color: #5c8ae8;
}

.block.img {
    border: 1px solid #2f2f2f;

    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}