/* styles file */

.btn {
    /*border-width: 1px 2px 3px 4px;
    border-style: solid;
    border-color: #555;*/

    border: 1px solid #555;
    border-radius: 4px;
    background-color: #fff;
}

.btn.error {
    background-color: #f20000;
    border-color: #d70000;
    color: #ffffff;
}

.btn.small {

}

.btn.larger {

}