.content {
    width: 400px;
    margin: 20px auto;
}

input[type=text],
input[type=password] {
    display: block;
    font-size: 20px;
    padding: 6px;
    margin: 10px;
    border: 1px solid #555555;
    border-radius: 3px;
}

input[type=submit] {
    border-radius: 3px;
}
