@keyframes loader {
    0% {
        top: 0;
        left: 0;
        transform: rotate(0deg);
        width: 50px;
        height: 50px;
    }
    25% {
        top: 0;
        left: 300px;
        transform: rotate(180deg);
        width: 75px;
        height: 75px;
    }
    50% {
        top: 300px;
        left: 300px;
        transform: rotate(0deg);
        width: 50px;
        height: 50px;
    }
    75% {
        top: 300px;
        left: 0;
        transform: rotate(180deg);
        width: 75px;
        height: 75px;
    }
    100% {
        top: 0;
        left: 0;
        transform: rotate(0deg);
        width: 50px;
        height: 50px;
    }
}

body {
    background-color: #1e1e1e;
}

.block {
    width: 50px;
    height: 50px;

    position: absolute;

    top: 0;
    left: 0;

    background-color: aliceblue;

    animation-name: loader;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}