.content {
    width: 100%;
    max-width: 1000px;
    min-width: 500px;
    padding: 10px;
    box-sizing: border-box;

    margin: 10px auto;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

.content .item {
    box-sizing: border-box;
    width: 25%;
    float: left;

    padding: 10px;
}
.content .item .img {
    width: 100%;
    padding-top: 100%;

    background-size: cover;
    background-position: center;
}
