* {
    margin: 0;
    padding: 0;
}
.menu-container {
    width: 100%;
    height: 60px;

    position: fixed;
    left: 0;
    top: 0;

    background-color: #5c8ae8;
}
.content {
    width: 1000px;
    height: 2000px;
    margin: 80px auto;

    background-color: #838383;
}
.content .static {
    width: 200px;
    height: 200px;

    background-color: #1e1e1e;
}