* {
    margin: 0;
    padding: 0;
}
.content {
    width: 1000px;
    height: 2000px;
    margin: 20px auto;

    background-color: #838383;
}
.content .static {
    width: 200px;
    height: 200px;

    background-color: #1e1e1e;
}