h1.title {
    text-shadow: -1px -1px 2px #ff0000, 1px -1px 2px #0000ff;
}

button.btn {
    padding: 3px 6px;

    border: 1px solid #3e3e3e;
    border-radius: 4px;
    background-color: #fff;

    box-shadow: 0 0 2px 0 #3e3e3e;
}

button.btn:hover {
    box-shadow: 0 0 4px 0 #3e3e3e;
}

button.btn:focus {
    border-color: #1e1e1e;
    outline: none;
}
button.btn:active {
    box-shadow: 0 0 4px 0 #3e3e3e, inset 0 0 2px 0 #838383;
}
